In [5]:
import pandas as pd

In [64]:
path = "data/names/Efternamn-Table 1.csv"

efternamn = pd.read_csv(path, header=4, sep=";").iloc[:, 0:2]
efternamn

             Efternamn Antal bärare
0                    A            3
1           A ALRAHMAN            2
2           A ALWAHHAB            2
3            A ANTHONY           15
4               A BAKI            2
...                ...          ...
411793         ÜÇPINAR            3
411794          ÜÜRIKE            3
411795  ÞORVALDSDÓTTIR            2
411796   ÞRASTARDÓTTIR            2
411797  ÞÓRHALLSDÓTTIR            2

[411798 rows x 2 columns]

In [23]:
path = "data/names/Förnamn kvinnor-Table 1.csv"

för_kvinn = pd.read_csv(path, header=4, sep=";").iloc[:, 0:2]
för_kvinn.head(5)

  Förnamn Antal bärare
0       A          942
1     A-C            4
2     A-K            2
3     A-M            4
4    AABA            2

In [51]:
för_kvinn.query("Förnamn=='odsad'")['Antal bärare']

Series([], Name: Antal bärare, dtype: object)

In [50]:
path = "data/names/Förnamn män-Table 1.csv"

för_man = pd.read_csv(path, header=4, sep=";").iloc[:, 0:2]
för_man.head(5)

  Förnamn Antal bärare
0       A        1 238
1   A:SON            6
2   AABAN            8
3   AABDI            4
4   AABED            2

In [68]:
path = "data/names/Tilltalsnamn män-Table 1.csv"

till_man = pd.read_csv(path, header=4, sep=";").iloc[:, 0:2]
till_man.head(5)

  Tilltalsnamn Antal bärare
0            A          120
1        AABAN            3
2        AABID            4
3          AAD            2
4        AADAM           21

In [69]:
path = "data/names/Tilltalsnamn kvinnor-Table 1.csv"

till_kvin = pd.read_csv(path, header=4, sep=";").iloc[:, 0:2]
till_kvin.head(5)

  Tilltalsnamn Antal bärare
0            A           42
1         AABA            2
2        AABHA            2
3         AADA           14
4      AADHIRA            8

In [73]:
#inner join on names

m1 = efternamn.merge(för_kvinn, left_on='Efternamn', right_on='Förnamn', how='inner')

In [74]:
m1

        Efternamn Antal bärare_x     Förnamn Antal bärare_y
0               A              3           A            942
1           AADAM             22       AADAM             10
2           AADAN            172       AADAN             44
3           AADEN             27       AADEN              8
4         AAGAARD             60     AAGAARD             16
...           ...            ...         ...            ...
20427       ÖZNUR             10       ÖZNUR             33
20428  ØSTERGAARD             27  ØSTERGAARD              6
20429       ÜLKER             21       ÜLKER             13
20430        ÜMIT              2        ÜMIT              8
20431       ÜSTÜN             24       ÜSTÜN              3

[20432 rows x 4 columns]

In [139]:

"""def get_name(input_name):
    name = input_name.upper()
    
    num_efternamn = efternamn.query("Efternamn=='{}'".format(name))['Antal bärare']
    num_för_kvinn = för_kvinn.query("Förnamn=='{}'".format(name))['Antal bärare']
    num_för_man = för_man.query("Förnamn=='{}'".format(name))['Antal bärare']
    num_till_man = till_man.query("Tilltalsnamn=='{}'".format(name))['Antal bärare']
    num_till_kvin = till_kvin.query("Tilltalsnamn=='{}'".format(name))['Antal bärare']
    
    num_till_kvin = int(num_till_kvin.values[0].replace("\xa0", "")) if len(num_till_kvin)>0 else 0
    num_till_man = int(num_till_man.values[0].replace("\xa0", "")) if len(num_till_man)>0 else 0
    num_för_man = int(num_för_man.values[0].replace("\xa0", "")) if len(num_för_man)>0 else 0
    num_för_kvinn = int(num_för_kvinn.values[0].replace("\xa0", "")) if len(num_för_kvinn)>0 else 0
    num_efternamn = int(num_efternamn.values[0].replace("\xa0", "")) if len(num_efternamn)>0 else 0
    print(num_till_kvin, num_till_man, num_för_man,num_för_kvinn,num_efternamn)
"""

In [141]:
get_name("alva")

15580 7 15 19962 6

In [147]:
efternamn['Antal bärare'] = efternamn['Antal bärare'].str.replace('\xa0', '')
för_kvinn['Antal bärare'] = för_kvinn['Antal bärare'].str.replace('\xa0', '')
för_man['Antal bärare'] = för_man['Antal bärare'].str.replace('\xa0', '')
till_man['Antal bärare'] = till_man['Antal bärare'].str.replace('\xa0', '')
till_kvin['Antal bärare'] = till_kvin['Antal bärare'].str.replace('\xa0', '')

In [157]:
till_kvin.to_csv("data/tilltalsnamn_kvinnor.csv", index=False)

In [150]:
num_för_kvinn = för_kvinn.query("Förnamn=='{}'".format("ALVA"))['Antal bärare']
num_för_kvinn.values

array(['19962'], dtype=object)

In [158]:
efternamn = pd.read_csv("data/Efternamn.csv")
förnamn_kvinnor = pd.read_csv("data/Förnamn_kvinnor.csv")
förnamn_män = pd.read_csv("data/Förnamn_män.csv")
tilltalsnamn_kvinnor = pd.read_csv("data/tilltalsnamn_kvinnor.csv")
tilltalsnamn_män = pd.read_csv("data/tilltalsnamn_män.csv")

In [163]:
def get_name(input_name):
    name = input_name.upper()
    
    num_efternamn = efternamn.query("Efternamn=='{}'".format(name))['Antal bärare']
    num_för_kvinn = för_kvinn.query("Förnamn=='{}'".format(name))['Antal bärare']
    num_för_man = för_man.query("Förnamn=='{}'".format(name))['Antal bärare']
    num_till_man = till_man.query("Tilltalsnamn=='{}'".format(name))['Antal bärare']
    num_till_kvin = till_kvin.query("Tilltalsnamn=='{}'".format(name))['Antal bärare']
    
    num_till_kvin = int(num_till_kvin.values[0]) if len(num_till_kvin)>0 else 0
    num_till_man = int(num_till_man.values[0]) if len(num_till_man)>0 else 0
    num_för_man = int(num_för_man.values[0]) if len(num_för_man)>0 else 0
    num_för_kvinn = int(num_för_kvinn.values[0]) if len(num_för_kvinn)>0 else 0
    num_efternamn = int(num_efternamn.values[0]) if len(num_efternamn)>0 else 0
    
    return {
        "efternamn":num_efternamn,
        "förnamn_kvinnor":num_för_kvinn,
        "förnamn_män":num_för_man,
        "tilltalsnamn_män":num_till_man,
        "tilltalsnamn_kvinnor":num_till_kvin,
        
    }

In [164]:
get_name("alva")

{'efternamn': 6,
 'förnamn_kvinnor': 19962,
 'förnamn_män': 15,
 'tilltalsnamn_män': 7,
 'tilltalsnamn_kvinnor': 15580}